<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div id="app">
        <input type="text" v-model="addText" placeholder="ToDoを入力して">
        <button v-on:click="addToDo()">追加</button>
        <button v-on:click="deleteBtn()">削除</button><hr>
        <ul v-for="todo in list">
            <li>
                <span v-bind:class="{ done: todo.isChecked }">
                    <input type="checkbox" v-model="todo.isChecked">{{ todo.text }}
                </span>
            </li>
            <div v-show="list == 0">現在タスクはありません</div>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>

<!-- Hint
・条件によって表示を切り替える問題です。
必要な主な知識 → v-if もしくは v-show を使用します。 -->